$main-color: rgb(15, 87, 196);
$main-shadow: rgba(19, 99, 223, 0.85);
$main-green: rgb(0, 130, 120);
$secondary: rgb(239, 242, 243);
$nav-color: rgb(1, 143, 238);
$foot-color: rgb(6, 40, 61);
$blue-gradient: linear-gradient(315deg, rgba(6, 188, 251, 0.7) 0%, #4884ee 74%, rgba(6, 188, 251, 0.7));
$first-card: linear-gradient(315deg, rgba(89, 92, 255, 0.4) 0%, #4884ee 74%, rgba(96, 239, 255, 0.4));
$second-card: linear-gradient(315deg, rgba(155, 175, 217, 0.4) 0%, #4884ee 74%, rgba(16, 55, 131, 0.4));
$third-card: linear-gradient(315deg, rgba(111, 227, 225, 0.4) 0%, #4884ee 74%, rgba(82, 87, 229, 0.4));
$back-card: linear-gradient(315deg, rgb(6, 188, 251) 0%, #4884ee 74%, rgb(6, 188, 251));




